global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    file_sd_configs:
      - files:
          - /etc/prometheus/targets.json
        refresh_interval: 10s
  # 1. HTTP/HTTPS checks
  - job_name: 'blackbox_http'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - https://google.com
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: __address__
        replacement: 192.168.122.182:9115   # <-- your VM1 IP
      - source_labels: [__param_target]
        target_label: instance

  # 2. TCP port checks
  - job_name: 'blackbox_tcp'
    metrics_path: /probe
    params:
      module: [tcp_connect]
    static_configs:
      - targets:
          - google.com:443
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: __address__
        replacement: 192.168.122.182:9115
      - source_labels: [__param_target]
        target_label: instance

  # 3. ICMP ping checks
  - job_name: 'blackbox_icmp'
    metrics_path: /probe
    params:
      module: [icmp_probe]
      target: ["8.8.8.8"]
    static_configs:
      - targets:
          - 192.168.122.182:9115
            # relabel_configs:
            # - source_labels: [__address__]
            # target_label: __param_target
            # - target_label: __address__
            # replacement: 192.168.122.182:9115
            # - source_labels: [__param_target]
            # target_label: instance

